/* @theme am_red */

@import 'am_template';

:root {
  --color-code-bg: #f6eeef;
  --color-coverbg: #a7535a;
  --color-few: #53a7a0;
  --color-footer: #8c8c8c;
  --color-main: #211112;
  --color-much: #864248;
  --color-navbar-bg: #edddde;
  --color-navbar-font: rgb(108, 95, 91);
  --color-quote: rgba(254, 176, 98, 0.1);
  --color-title: rgb(255, 255, 255);
  --color-trans: #b9757b;
  --filter-b: brightness(30%) contrast(70%) grayscale(100%);
  --filter-c: brightness(0%) contrast(60%) grayscale(80%);
  --filter-e: brightness(0%) contrast(70%) grayscale(100%);
}

header {
  left: 50px;
  right: 50px;
  top: 30px;
  height: 50px;
  background-image: url("./images/hfut_logo2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 200px;
  text-align: left;
  color: rgb(174, 0, 39);
  font-weight: bold;
  font-size: 38px;
  font-family: var(--font-family-title);
  border-bottom: 15px solid rgb(203, 198, 199);
      /* Semi-transparent yellow border */
  text-indent: 10px;
    /* Text indent of two spaces */
}